<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDSR_XzZX3fVT3CU7luKXc2AvpWe42I0k0</string>
	<key>GCM_SENDER_ID</key>
	<string>385592852853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ppclink.ios.timnha24h</string>
	<key>PROJECT_ID</key>
	<string>la-english</string>
	<key>STORAGE_BUCKET</key>
	<string>la-english.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385592852853:ios:0f7d0ece3bca4bc102d33c</string>
</dict>
</plist>